Source: open-vpn-toggler
Section: net
Priority: optional
Maintainer: JanisRUS <janisrus35@gmail.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)

Package: open-vpn-toggler
Architecture: all
Depends: openvpn-systemd-resolved,
         openvpn3,
         bash,
         sudo
Provides:  openvpntoggler
Replaces:  openvpntoggler
Conflicts: openvpntoggler
Description: OpenVPN toggler desktop shortcut
